[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[user]
	name = Kyle McAlpine
	useConfigOnly = true
	email = kyle@kjm.bio
[core]
	excludesfile = /Users/kylejm/.gitignore_global
	attributesfile = /Users/kylejm/.gitattributes
[merge "mergepbx"]
        name = Xcode project file merger
        driver = /usr/local/bin/mergepbx %O %A %B
[mergetool "mergepbx"]
    cmd = mergepbx "$BASE" "$LOCAL" "$REMOTE" -o "$MERGED"
[diff "plist"]
	textconv = plutil -convert xml1 -o -
[push]
	default = simple
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustexitcode = true
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[merge]
	tool = Kaleidoscope
[merge]
    external = Kaleidoscope
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[alias]
	cam = commit -am
	cm = commit -m
