Gemfile.lock

Dotfiles/.config/fish/fish_history
Dotfiles/.config/fish/functions
Dotfiles/.config/fish/functions
Dotfiles/.config/fish/fishd.*
Dotfiles/.atom/.apm/*
Dotfiles/.atom/packages/*
Dotfiles/.atom/blob-store/*
Dotfiles/.atom/packages/*
Dotfiles/.config/heroku/*
Dotfiles/.config/configstore/update-notifier-npm.json
Dotfiles/.config/gcloud/*
Dotfiles/.config/Autodesk/*
Dotfiles/.config/gatsby/*
Dotfiles/.config/gh/*
Dotfiles/.config/git/config.local
Dotfiles/.config/git/config.spotify
Dotfiles/.config/karabiner/automatic_backups/*
Dotfiles/.config/yarn/*
Dotfiles/.config/iterm2/*
Dotfiles/.config/.mono

!Dotfiles/.config/gh/config.yml


.DS_Store
iTerm/com.googlecode.iterm2.plist
