Gemfile.lock
Dotfiles/.config/omf
Dotfiles/.config/git
Dotfiles/.config/git
Dotfiles/.config/fish/fish_history
Dotfiles/.config/fish/functions
Dotfiles/.config/fish/functions
Dotfiles/.config/fish/fishd.*
Dotfiles/.atom/.apm/*
Dotfiles/.atom/packages/*
Dotfiles/.atom/blob-store/*

.DS_Store
