"*":
  core:
    telemetryConsent: "limited"
  editor:
    invisibles: {}
    showIndentGuide: true
    softWrap: true
  "exception-reporting":
    userId: "f5007c08-bed7-ec81-19ee-795567a89b91"
  "linter-ui-default": {}
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
